//helper.scss
.section-lg {
    padding: 100px 0px;
}

.underline-after {
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 25%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 50%;
        background-color: rgba($primary, 0.3);
    }
}

//hero-section 
.hero-section-primary {
    .hero-content {
        ul {
            &.list-1 {
                @media (min-width:576px) {
                    border-right: 2px solid $secondary;
                }
            }
        }
    }
}

//prising section toggle
.billing-toggle {
    padding: 5px 10px;
    border: 1px solid rgba($secondary, 0.5);
    border-radius: $border-radius-2xl;
    transition: $transition-base;

    .billing-option {
        border: 1px solid transparent;
        border-radius: $border-radius-2xl;
        background-color: transparent;
        color: $success;
        padding: 5px 15px;

        &:hover,
        &.active {
            background-color: rgba($success, 0.3);
            color: $primary;
        }
    }
}



